.progress{
    background: url(../img/progress.png);
    height: 454px;
}

.progress-content{
    width: 570px;
    margin: 0 auto;
    text-align: center;
}

.progress-content-title, 
.progress-content-desc{
    margin: 0;
}

.progress-content-title{
    font-family: 'Playfair Display', sans-serif;
    font-size: 33px;
    font-weight: bold;
    letter-spacing: 8px;
    color: #232323;
    padding-top: 120px;
    margin-bottom: 20px;
}

.progress-content-desc{
    font-family: 'Fauna One', sans-serif;
    font-size: 16px;
    color: #2a2a2a;
    font-weight: 200;
}

